.own-message {
  width: 100%;
  max-width: 350px;
  padding: 15px 30px 15px 15px;
  margin: 0 25px 8px auto;
  background: #0088cc;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.message-text {
  margin: 0 0 6px;
  text-indent: 15px;
}

.message-time {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 11px;
  color: #8cd;
}

.message-buttons {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 11px;
}

.message-edit:before {
  content: '\f044';
  width: 12px;
  height: 12px;
  font-family: FontAwesome;
  cursor: pointer;
  margin-right: 7px;
}

.message-delete {
  border: none;
  background: none;
  color: #ffffff;
}

.message-delete::before {
  content: '\f1f8';
  width: 12px;
  height: 12px;
  font-size: 11px;
  font-family: FontAwesome;
  cursor: pointer;
}