.message-list {
  border: 5px solid #154752;
}

.messages-divider {
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.messages-divider:after,
.messages-divider:before {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 6px;
  background: #154752;
}