.message {
  display: flex;
  margin: 0 auto 8px 15px;
}

.message-user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  align-self: flex-end;
  border-radius: 50%;
  flex-shrink: 0;
}

.message-box {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  background: #04334c;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.message-user-name {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #0088cc;
}

.message-like {
  width: 17px;
  height: 17px;
  right: -23px;
  bottom: 10px;
  position: absolute;
}

.message-like::before {
  content: '\f164';
  font-family: FontAwesome;
  color: gold;
  cursor: pointer;
}