.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto 20px;
  padding: 10px 15px;
  border: 5px solid #154752;
  color: #ffffff;
}

.header-title {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 25px;
}

.header-users-count {
  margin-right: 15px;
}

.header-messages-count {
  flex-grow: 1;
  margin-right: 15px;
}

/*.header-last-message-date {} */